 <html>
	<head>
		<title>Message Board: Team Echo</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="../jquery-3.1.1.js"></script>
    <script src="../jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script>
      var dialog, form, actionVal, newActionVal;
      var dialog2, form2, actionVal2, newActionVal2;

      $( function() {

        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Add Comment": function(){
              $(form).attr("action", newActionVal);
              var postVal = form.find("textarea");
              if(postVal.val()){
                $(form).submit();
              }else{
                alert("Please enter a comment!");
              }

            },
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
          }
        });

        form = dialog.find( "form" );

      } );

      function addComment(id){
        actionVal = $('#commentForm').attr('action');
        newActionVal = actionVal + id;
        dialog.dialog("open");
      }

      $( function() {

        dialog2 = $( "#post-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Add Post": function(){
              var postVal = form2.find("textarea");
              if(postVal.val()){
                $(form2).submit();
              }else{
                alert("Please enter a message!");
              }
            },
            Cancel: function() {
              dialog2.dialog( "close" );
            }
          },
          close: function() {
            form2[ 0 ].reset();
          }
        });

        form2 = dialog2.find( "form" );

      } );

      function addPost(){
        dialog2.dialog("open");
      }
    </script>
	</head>

	<body>
	<header>Echo Group Message Board Page</header>

  <div id="dialog-form" title="Add New Comment">
    <p class="validateTips">Enter your comment below.</p>

  <form id="commentForm" action="/post/comment/" method="POST">
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required="true" readonly value=<%= username %> class="text ui-widget-content ui-corner-all">
      <label for="comment">Comment</label>
      <textarea type="text" name="comment" required="true" rows="3" id="comment" class="text ui-widget-content ui-corner-all"></textarea>

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<div id="post-form" title="Add New Post">
  <p class="validateTips">Enter your message below.</p>

<form id="postForm" action="/post/message" method="POST">
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required="true" readonly value=<%= username %> class="text ui-widget-content ui-corner-all">
    <label for="comment">Post Message</label>
    <textarea type="text" name="message" rows="3" id="comment" required="true" class="text ui-widget-content ui-corner-all"></textarea>

    <!-- Allow form submission with keyboard without duplicating the dialog button -->
    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </fieldset>
</form>
</div>

	<div id="page_content">
		<h1 class="top_message">Welcome to the Echo Group Message Board Page</h1>

    <br>
    &nbsp;&nbsp;&nbsp;<button class="addPost" onclick="addPost()">Post New Message</button>
    <br>
    <br>
		<% for(var x in post){ %>
		<div style="background-color: lightblue; margin-left: 15px; padding: 15px; border-radius: 5px">
			<h3 style="color: blue">Posted By: <%= post[x].name %>, Date: <%= post[x].date %></h3>
			<h3 style="color: black"><%= post[x].text %></h3>

			<% for(let i = 0; i < post[x].comments.length; i++){ %>
			<h5 style="margin-left: 20px; color: blue"><%= post[x].comments[i].name %>, <%= post[x].comments[i].date %></h5>
			<h5 style="margin-left: 20px"><%= post[x].comments[i].text %></h5>
			<% } %>

      <button class="addComment" onclick="addComment('<%= post[x]._id %>')">Add Comment</button>

		</div>

    <br>
		<% } %>
	</div>
  <br>
  <br>
	<footer>Echo Team &copy; Fall 2017</footer>
	</body>
</html>
